body {
    background-color: #ccccff;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    padding-top: 60px;
}

p {
 font-size: 23px;
}